[buildout]
parts = 
  prepare
  app_lib
  gae_sdk
  gae_tools
  test

[prepare]
recipe = z3c.recipe.mkdir 
paths = app/distlib

[app_lib]
# Sets the library dependencies for the app.
recipe = appfy.recipe.gae:app_lib
lib-directory = app/distlib
use-zipimport = false

# Define the libraries.
eggs =

# Don't copy files that match these glob patterns.
ignore-globs =
    *.c
    *.pyc
    *.pyo
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy

# Don't install these packages or modules.
ignore-packages =
    distribute
    setuptools
    easy_install
    site
    pkg_resources

[gae_sdk]
# Dowloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.5.1.zip
destination = ${buildout:parts-directory}
hash-name = false
clear-destination = true

[gae_tools]
# Installs appcfg, dev_appserver and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine

# Add these paths to sys.path in the generated scripts.
extra-paths =
    app/lib
    app/distlib

[test]
recipe = pbp.recipe.noserunner
defaults = src --with-coverage --cover-package=aodag
eggs =
    coverage
    unittest2
extra-paths =
    ${gae_tools:sdk-directory}
    app/lib
    app/distlib
initialization = import dev_appserver; dev_appserver.fix_sys_path()

